section#section_2.section.sectionBgTrigger(data-num='2' data-bg-color="#fff")&attributes(dirObj)
	.section_in
		.section_head.decor_mod.center_level_mod.offset_mod.fadeEl
			h2.section_title= data.design.title
		.designs_w_nav.fadeEl
			.designs_nav_container&attributes(dirObj)
				.designs_nav.designsNavSlider
					each item, index in data.design.slider
						.designs_nav_item
							a.designs_nav_link.designsNavLink(class=(index === 0 ? 'active_state' : '') href="#" data-slide-id=index)=item.title
			.designs_nav_btn.prev_mod.btnPrevDesignsSlide
				+icon('left', 'current_mod')
			.designs_nav_btn.next_mod.btnNextDesignsSlide
				+icon('arrow-right', 'current_mod')
	.designs_slider.designsSlider.fadeEl
		each slide in data.design.slider
			.designs_slider_item
				.designs_slider_item_w_img
					img.designs_slider_item_img(src=slide.img_src, alt=slide.img_alt)
					a.designs_slider_item_title(href="#")= slide.title
				.designs_slider_content
					.section_descr.design_slider_mod=slide.descr
					a.btn_base(href="#") Details