mixin header
	- mod = array.home_page ? 'home_page_mod' : ''
	header.header(class=mod)
		.section_in.header_mod
			a.logo(href="#")
				include ../svg/logo
			.header_menu
				.menu_trigger.menuTrigger
					span.menu_trigger_decor
				nav.main_menu
					+menu({
						gl_class: 'main_menu',
						items: data.header.menu
					})

mixin footer
	footer.footer
		.footer_bg_wrap
			+section_bg({
				img: 'i/footer_bg.jpg',
				mod: 'footerBg'
			})
		.section_in
			+social({
				mod_block: 'footer_mod footerAnimEl',
				items: [
					{mod_link: 'footer_mod', name_icon: 'facebook', mod_icon: 'social_mod'},
					{mod_link: 'footer_mod', name_icon: 'linkedin', mod_icon: 'social_mod'},
					{mod_link: 'footer_mod', name_icon: 'twitter', mod_icon: 'social_mod'},
					{mod_link: 'footer_mod', name_icon: 'instagram', mod_icon: 'social_mod'},
					{mod_link: 'footer_mod', name_icon: 'youtube', mod_icon: 'social_mod'},
				]
			})
			a.footer_logo.footerAnimEl(href="#")
				img.logo_img(src="i/logo.svg", alt="logo")
			.footer_copyright.footerAnimEl © 2020, The Red Sea Development Company. All rights reserved.
			.footer_link_list.footerAnimEl
				.footer_link_item
					a.footer_link(href="#") Terms & Conditions
				.footer_link_item
					a.footer_link(href="#") Privacy Policy

mixin loader
	.loader
		.loader_in
			.loader_block
				.loader_block_in
					.loader_block_decor
					.loader_w_logo
						img.loader_logo(src="i/logo.svg", alt="Logo")
					.loader_block_w_img
						+loop_while(4)
							img.loader_block_img(src="i/preview_1.jpg", alt="Loader Img")
				.loader_block_content
					h1.section_title.accent_mod.white_mod.loader_mod.loaderTitle Two<br>lines

mixin phase_block(data)
	.phase_block
		.phase_block_title
			.phase_block_title_in= data.title
			.phase_block_title_line
		ul.phase_info_list
			each item, index in data.info
				li.phase_info_list_item
					+phase_info({
						index: index,
						icon: item.icon,
						title: item.title,
						sub_title: item.sub_title
					})

mixin section_decor(data)
	- mod = data.mod || ''
	.section_decor(class=mod)
		if data.direction === 'top'
			include ../svg/bg_top_decor
		else if data.direction === 'elipse'
			include ../svg/bg_elipse_decor
		else
			include ../svg/bg_bottom_decor

mixin section_bg(array)
	.section_bg(class= array.mod)
		img.section_bg_img(src=array.img, alt="background image")

mixin latest(array)
	.latest_item
		a.latest_item_in(href="#")
			.latest_img_wrap
				.latest_img_in
					img.latest_img(src=array.img, alt="latest news image")
			.latest_content
				.latest_text= array.text
				.latest_link Details

mixin slider_controls(array)
	.slider_control.prev_mod(class= array.mod)
		+icon('left', array.icon_mod || 'size_mod')
	.slider_control.next_mod(class= array.mod)
		+icon('right', array.icon_mod || 'size_mod')

mixin feed_item(array)
	a.feed_item.fadeEl(href=array.img)
		if array.img
			.feed_img_wrap
				img.feed_img(src=array.img, alt="social feed image")
		.feed_content
			.feed_head
				if array.icon
					.feed_icon
						+icon(array.icon, 'size_mod')
				if array.controls
					.feed_controls
						each item in array.controls
							.feed_control_item
								+icon(item, 'size_mod')
			if array.text
				.feed_text!= array.text

mixin partner_list(array)
	.partner_list_w
		.partner_list
			each item in array
				.partner_item_wrap.fadeEl
					.partner_item
						button.visible_btn.open_mod.partner_open_mod.partnerOpen
							+loop_while(3)
								span
						a.partner_img_wrap(href="http://google.com")
							img.partner_img(src=item.img, alt="partner logo")
						.partner_hover_text
							.partner_hover_text_in= item.text
							button.visible_btn.close_mod.partner_close_mod.partnerClose

mixin preview(array, mod, idColor, animDirection)
	- blockMod = mod || ''
	- colorId = idColor || ''
	- parallax = array.parallax ? 'parallaxBlock' : ''
	- parallaxOffset = array.parallaxOffset || ''
	- parallaxSmOffset = array.parallaxSmOffset || ''
	.preview_item.fadeEl(class=blockMod data-id-color=colorId data-anim-direction=animDirection)
		if array.img_sm
			.preview_sm_img(class= parallax data-offset=parallaxSmOffset)
				if array.video_sm
					.video_block(data-plyr-provider="youtube" data-plyr-embed-id=array.video)
				else
					img.preview_img.active_mod(src=array.img_sm, alt="image")
					img.preview_img(src=array.img, alt="image")
		.preview_col.img_mod
			.preview_img_wrap.previewImgBlock
				.preview_img_in(class=parallax data-offset=parallaxOffset)
					if array.video
						.video_block(data-plyr-provider="youtube" data-plyr-embed-id=array.video)
					else
						img.preview_img.active_mod(src=array.img, alt="image")
						img.preview_img(src=array.img_sm, alt="image")
		.preview_col.content_mod
			.preview_col_in.previewContentBlock
				.section_head
					//- .section_subtitle= array.subtitle
					h3.section_title.offset_v2_mod.preview_mod
						span.title_in= array.subtitle
						= array.title
				.section_w_descr
					//- +hamburger_btn({
					//- 	mod: 'btnPreviewControl position_mod',
					//- 	preview_id: array.descr_id
					//- })
					.preview_text.sectionDescr.btnPreviewControl(data-preview-id=array.descr_id)!= array.text
				a.preview_link(href="#")= array.link

mixin keep_scroll(array)
	.keep_scroll
		.keep_scroll_title Keep scrolling
		.keep_scroll_icon
			img.keep_scroll_icon_in(src='i/double_arrow.svg', alt="icon")

mixin construct(array)
	- mod = array.mod || ''
	.construct_item
		.construct_col
			.construct_img_wrap.v1_mod
				if array.video
					.video_block(data-plyr-provider="youtube" data-plyr-embed-id=array.video)
				if array.img
					img.construct_img(src=array.img, alt="image")
			.construct_img_wrap.v2_mod
				if array.img2
					img.construct_img(src=array.img2, alt="image")
				if array.video_src
					.video_preview.btnPlay(data-video-src=array.video_src)
						img.video_preview_img(src=array.video_preview, alt="")
						.video_preview_button
							+icon('play', 'current_mod size_mod')
				if array.gif
					img.construct_img(src=array.gif, alt="image")
		.construct_col.descr_mod
			.construct_date= array.date
			.construct_location= array.location
			.section_head.decor_v1_mod.offset_mod
				.section_head_decor.drawEl
				h2.section_title!= array.title
			.construct_text
				each item in array.text
					p= item

mixin other(array)
	.other_item_wrap.fadeEl
		a.other_item(href="#")
			.other_img_wrap
				img.other_img(src=array.img, alt="image")
			.other__title= array.title
			.btn_base= array.link

mixin hero_slider(data)
	.hero_slider(class=data.slider_class)
		each slide in data.slides
			.hero_slider_item
				.hero_slider_w_img
					if slide.video_src
						video.hero_slider_img(playsinline muted loop autoplay)
							source(src=slide.video_src type='video/mp4')
					else
						img.hero_slider_img(src=slide.img_src, alt=data.img_alt || 'image')
				.section_in.hero_slider_mod
					.hero_slider_content(class=data.slider_content_mod)
						.section_head.decor_v1_mod
							.hero_slider_decor.heroSliderContent
							- title_mod = data.isHeroPage ? 'accent_mod' : ''
							.hero_slider_content_title
								h2.section_title.white_mod.heroSliderItemTitle(class=title_mod)!=slide.title
							if slide.sub_title
								.hero_slider_content_title
									h3.section_subtitle.accent_mod.heroSliderItemSubTitle=slide.sub_title
				if slide.video_src
					.hero_slider_item_btn.heroSliderContent
						a.btn_play.btnPlay(href="#" data-video-src=slide.video_src)
							.btn_play_icon
								+icon('play', 'current_mod size_mod')
							span.btn_play_title Play video

mixin phase_info(data)
	.phase_info
		.phase_info_w_icon
			if data.index === 0
				include ../svg/phase_icon_1
			else if data.index === 1
				include ../svg/phase_icon_2
			else if data.index === 2
				include ../svg/phase_icon_3
			else
				include ../svg/phase_icon_4
		.phase_info_content
			span.phase_info_title.numberAnimTitle(data-text=data.title)=0
			span.phase_info_subtitle=data.sub_title

mixin map_facility(data)
	.map_facility_wrap.fadeEl
		.map_facility
			.map_facility_w_img
				img.map_facility_img(src=data.img_src, alt=data.title || 'image')
			.map_facility_close
				+icon('close', 'current_mod')
			.map_facility_content
				h3.map_facility_title=data.title
				.map_facility_descr=data.descr
				.map_facility_w_list
					ul.map_facility_list
						each item in data.list
							li.map_facility_list_item
								.map_facility_block
									.map_facility_block_w_icon
										+icon(item.icon_name, 'map_facility_mod size_mod')
									.map_facility_block_w_title
										span.map_facility_block_title=item.title
				a.btn_base.facilityBtn(href="#") Read more

mixin control_btns
	.control_btn_w
		button.control_btn.open_mod
			+loop_while(3)
				span
		button.control_btn.close_mod

mixin hamburger_btn(data)
	- mod = data.mod || ''
	- data_attr = data.preview_id ? {'data-preview-id': data.preview_id} : {'data-descr-id': data.descr_id}
	.btn_hamburger(class=mod)&attributes(data_attr)
		.btn_hamburger_in
			span.btn_hamburger_decor

mixin visible_btns(open_mod, close_mod)
	button.visible_btn.open_mod(class=open_mod)
		+loop_while(3)
			span
	button.visible_btn.close_mod(class=close_mod)

mixin sheybarah_slider(array)
	ul.sheybarah_slider
		each item in array
			li.sheybarah_slider_item
				.sheybarah_slider_img_w
					img.sheybarah_slider_img(src=	item.img, alt='Sheybarah img')
				.sheybarah_slider_text!= item.text

mixin groundb_slider(data)
	- slider_mod = data.slider_mod || ''
	- slider_item_mod = data.slider_item_mod || ''
		.groundb_slider_w.fadeEl
			if slider_mod == 'popup_mod'
				+slider_controls({
					mod: 'v2_mod groundb_mod popup_mod',
					icon_mod: 'arrow_mod'
				})
			else
				+slider_controls({
					mod: 'v2_mod groundb_mod page_mod',
					icon_mod: 'arrow_mod'
				})
			.groundb_slider(class= slider_mod)
				each item in data.slides
					.groundb_slider_item_w.fadeEl(class= slider_item_mod)
						.groundb_slider_item
							.groundb_slider_icon_w
								+icon('plyr-play', 'size_mod')
							.groundb_slider_img_w
								img.groundb_slider_img(src=	item.img, alt='Sheybarah img')
							.groundb_slider_text!= item.text


mixin timeline_previews(array)
	each item in array
		- mod = item.mod || ''
		- data_attr = item.data_id_color ? {'data-id-color': item.data_id_color} : {}
		.preview_item.bg_even_mod(class=mod)&attributes(data_attr)
			.preview_col.img_mod
				.preview_img_wrap
					//- .preview_img_in
					//- 	img.preview_img.active_mod(src= item.img alt="image")
					video.video_block
						source(src="i/feed/feed_5.mp4" type="video/mp4")
			.preview_col.content_mod.timeline_mod
				.preview_col_in
					.section_head.decor_mod.offset_mod
						h3.section_title.offset_v2_mod.preview_mod
							span.title_in= item.subtitle
							= item.title
					.section_w_descr
						.preview_text.active_state.timeline_mod!= item.text
					a.preview_link(href="#")!= item.link

mixin story_slider(data)
	- slider_mod = data.slider_mod || ''
	.story_slider.storySlider(class=slider_mod)
		each slide, index in data.slides
			.story_slider_item(data-index=index)
				.story_slider_item_w_img
					.story_slider_item_w_img_in
						//- if slide.video
						//- 	.video_block(data-plyr-provider="youtube" data-plyr-embed-id=slide.video)
						if slide.img_src
							img.story_slider_item_img(src=slide.img_src, alt=slide.img_alt)
				.story_slider_item_w_descr
					.story_slider_item_descr=slide.text

mixin slider_video(array)
	.slider_video_w
		+loop_while(10)
			each item in array
				.slider_video_item
					.slider_video_inner
						video.video_block
							source(src= item.video type="video/mp4")
					.slider_video_text= item.text
